<form class="ui form segment" method="post" action="/find">
<div class="field">
    <p>Attributes</p>
    <select name="skills" multiple="" class="ui dropdown">
      <option value="">Select attributes</option>
      <option value="gender">Gender</option>
      <option value="tot_income">Total income</option>
      <option value="loan_type">Loan Type</option>
      <option value="own_car">Owns Car</option>
      <option value="own_realty">Owns house</option>
      <option value="family_status">Marital status</option>
    </select><br>
    Limit:<input type="text" name="limit">
  </div>
  <div class="ui primary submit button"><input type="submit" value="Fetch"></div>

</form>
