<form action="/search" method="post">
Loan Type:

<select name="loan_type" class="ui dropdown">
      <option value="">Select</option>
      <option value="'RL'">RL</option>
      <option value="'CL'">CL</option>
    </select><br>

 Gender:<br>
 <input type="radio" placeholder="male" name="gender" id="M" value="'M'"> Male<br><br>
	<input type="radio" placeholder="Female" name="gender" id="F" value="'F'"> Female<br><br>
	<input type="radio" placeholder="others" name="gender" id="XNA" value="'XNA'"> Others<br><br>
 Own_car:<br>
 <input type="radio" placeholder="yes" name="own_car" id="Y" value="'Y'"> Yes<br><br>
	<input type="radio" placeholder="no" name="own_car" id="N" value="'N'"> No<br><br>

Own_Realty:<br>
 <input type="radio" placeholder="yes" name="own_realty" id="Y" value="'Y'"> Yes<br><br>
	<input type="radio" placeholder="no" name="own_realty" id="N" value="'N'"> No<br><br>

Suite Type:

<select name="suite_type" class="ui dropdown">
      <option value="">Select</option>
      <option value="'S/P'">S/P</option>
      <option value="'GOP'">GOP</option>
      <option value="'O_B'">O_B</option>
      <option value="'CH '">CH </option>
      <option value="'O_A'">O_A</option>
      <option value="'UN '">UN </option>
      <option value="'F  '">F  </option>
    </select><br>

 Income Type:

 <select name="income_type" class="ui dropdown">
      <option value="">Select</option>
      <option value="'B '">B </option>
      <option value="'S '">S </option>
      <option value="'CA'">CA</option>
      <option value="'W '">W </option>
      <option value="'ML'">ML</option>
      <option value="'SS'">SS</option>
      <option value="'UN'">UN</option>
      <option value="'P '">P </option>
    </select><br>

   Education Level:
   <select name="edu_level" class="ui dropdown">
      <option value="">Select</option>
      <option value="'S/SS'">S/SS</option>
      <option value="'IH  '">IH  </option>
      <option value="'HE  '">HE  </option>
      <option value="'LS  '">LS  </option>
      <option value="'AD  '">AD  </option>
    </select><br>

    Phone:<br>
 <input type="radio" placeholder="yes" name="phone" id="1" value="1"> Yes<br><br>
	<input type="radio" placeholder="no" name="phone" id="0" value="0"> No<br><br>

	 Email:<br>
 <input type="radio" placeholder="yes" name="email" id="1" value="1"> Yes<br><br>
	<input type="radio" placeholder="no" name="email" id="0" value="0"> No<br><br>

	
<input type="submit" value="search">
</form>





